* {
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  align-content: center;
  justify-content: center;
  text-align: center;
  grid-gap: 40px;
  padding: 80px;
}

h1 {
  font-size: 100px;
  margin: 0;
  font-weight: normal;
}

img {
  display: block;
  height: 100%;
  margin: auto;
}

p {
  font-size: 30px;
  margin: 0;
  max-width: 600px;
  margin: 0 auto;
}

small {
  font-size: 14px;
}

a {
  color: red;
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
  img {
    width: 80%;
    height: auto;
  }
  body {
    padding: 10px;
    grid-gap: 20px;
  }
  p {
    font-size: 18px;
  }
}
